{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% comment %} <p>Would you like<a href="{% url 'contact' %}">send email</a></p>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
        <p><a href="{% url 'password_reset' %}">reset password</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a> |
        <a href="{% url 'signup' %}">signup</a>
    {% endif %} {% endcomment %}
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Снигур
          <span class="text-primary">Анна</span>
        </h1>
        <div class="subheading mb-5">Днепр · (067) 000-0000 ·
          <a href="mailto:name@email.com">python.it.ua@gmail.com</a>
        </div>

        <div class="social-icons">
          <a href="https://github.com/AnnaSnigur">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>

{% endblock content %}